################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
assets/FaviconGuides2020.ai
assets/FaviconGuides2020-v2.ai