<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Engel Movie Collection</title>
	<link rel="apple-touch-icon" href="assets/favicon-228.png">
	<link rel="icon" type="image/png" href="assets/favicon-228.png">
	<link rel="shortcut icon" href="assets/favicon-228.png">
	<meta name="msapplication-TileColor" content="#41ead4">
	<meta name="msapplication-TileImage" content="assets/favicon-144.png">
	<meta name="theme-color" content="#21292e">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
	<link href="assets/main.css" rel="stylesheet">
</head>

<body>
	<h1><span>Movie</span> Collection</h1>

	<div id="movies" v-cloak>
		<div v-if="loading" class="loader"></div>

		<h2 v-else-if="errored">Movie data could not be retrieved. Try again later.</h2>

		<template v-else>
			<div class="filters">

				<div class="movie-count">
					<h2><span>{{ movies.length}}</span> movies</h2>
				</div> <!-- /movie-count -->

				<button type="button" class="filter-btn" @click="toggleFilters">
					<svg class="filter-icon" width="12px" height="10px" viewBox="0 0 12 10" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.07,2H0.93C0.41,2,0,1.59,0,1.07V0.93C0,0.41,0.41,0,0.93,0l10.15,0C11.59,0,12,0.41,12,0.93v0.15 C12,1.59,11.59,2,11.07,2z M12,5.07V4.93C12,4.41,11.59,4,11.07,4H0.93C0.41,4,0,4.41,0,4.93v0.15C0,5.59,0.41,6,0.93,6h10.15 C11.59,6,12,5.59,12,5.07z M12,9.07V8.93C12,8.41,11.59,8,11.07,8H0.93C0.41,8,0,8.41,0,8.93v0.15C0,9.59,0.41,10,0.93,10h10.15 C11.59,10,12,9.59,12,9.07z" />
					</svg>
					Filter
				</button>

				<div class="filter-panel" :class="{active: panelActive}">
					<button type="button" class="filter-close-btn" @click="toggleFilters" title="Close">&times;</button>

					<div class="filter-option search">
						<svg class="search-icon" width="14px" height="14px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.7,12.3l-3-3c0.7-1,1.1-2.2,1.1-3.5c0-1.6-0.6-3.1-1.7-4.2C9,0.6,7.5,0,5.9,0C4.4,0,2.9,0.6,1.7,1.7 C0.6,2.9,0,4.4,0,5.9S0.6,9,1.7,10.1c1.1,1.1,2.6,1.7,4.2,1.7c1.3,0,2.5-0.4,3.5-1.1l3,3c0.2,0.2,0.4,0.3,0.7,0.3 c0.2,0,0.5-0.1,0.7-0.3C14.1,13.3,14.1,12.7,13.7,12.3z M3.1,8.8C2.4,8,1.9,7,1.9,5.9s0.4-2.1,1.2-2.8c0.8-0.8,1.8-1.2,2.8-1.2 S8,2.4,8.8,3.1c0.8,0.8,1.2,1.8,1.2,2.8S9.5,8,8.8,8.8C8,9.5,7,9.9,5.9,9.9S3.9,9.5,3.1,8.8z">
						</svg>
						<input type="search" placeholder="Search by movie title" id="search" v-model.lazy="search" autocomplete="off">
					</div> <!-- /filter-option -->

					<div class="filter-option" :class="{ active: activeFilter === 'sort' }">
						<span class="filter-option-title" tabindex="0" @click="selectFilter('sort')" v-on:keyup.enter="selectFilter('sort')">
							Sort
							<svg class="filter-arrow" width="10px" height="7px" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M4.47,6.24L0.22,1.99c-0.29-0.29-0.29-0.77,0-1.06l0.71-0.71c0.29-0.29,0.77-0.29,1.06,0L5,3.23l3.01-3.01 c0.29-0.29,0.77-0.29,1.06,0l0.71,0.71c0.29,0.29,0.29,0.77,0,1.06L5.53,6.24C5.24,6.53,4.77,6.53,4.47,6.24L4.47,6.24z">
							</svg>
						</span>
						<div class="filter-option-menu">
							<div class="filter-field">
								<input type="radio" id="sort-recent" value="recent" v-model="sort">
								<label for="sort-recent">Recently Added</label>
							</div>
							<div class="filter-field">
								<input type="radio" id="sort-alpha" value="alpha" v-model="sort">
								<label for="sort-alpha">A-Z</label>
							</div>
						</div> <!-- /filter-option-menu -->
					</div> <!-- /filter-option -->

					<div class="filter-option" :class="{ active: activeFilter === 'format', 'has-selections' : formatFilter.length > 0 }">
						<span class="filter-option-title" tabindex="0" @click="selectFilter('format')" v-on:keyup.enter="selectFilter('format')">
							Format &amp; Quality
							<svg class="filter-arrow" width="10px" height="7px" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.47,6.24L0.22,1.99c-0.29-0.29-0.29-0.77,0-1.06l0.71-0.71c0.29-0.29,0.77-0.29,1.06,0L5,3.23l3.01-3.01 c0.29-0.29,0.77-0.29,1.06,0l0.71,0.71c0.29,0.29,0.29,0.77,0,1.06L5.53,6.24C5.24,6.53,4.77,6.53,4.47,6.24L4.47,6.24z">
							</svg>
						</span>
						<div class="filter-option-menu">
							<div class="filter-field" v-for="(format, index) in allFormats">
								<input type="checkbox" :id="'format-' + index" :value="format" v-model="formatFilter">
								<label :for="'format-' + index">{{ format }}</label>
							</div>
						</div> <!-- /filter-option-menu -->
					</div> <!-- /filter-option -->

					<div class="filter-option" :class="{ active: activeFilter === 'genre', 'has-selections' : genreFilter.length > 0 }">
						<span class="filter-option-title" tabindex="0" @click="selectFilter('genre')" v-on:keyup.enter="selectFilter('genre')">
							Genre
							<svg class="filter-arrow" width="10px" height="7px" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.47,6.24L0.22,1.99c-0.29-0.29-0.29-0.77,0-1.06l0.71-0.71c0.29-0.29,0.77-0.29,1.06,0L5,3.23l3.01-3.01 c0.29-0.29,0.77-0.29,1.06,0l0.71,0.71c0.29,0.29,0.29,0.77,0,1.06L5.53,6.24C5.24,6.53,4.77,6.53,4.47,6.24L4.47,6.24z">
							</svg>
						</span>
						<div class="filter-option-menu">
							<div class="filter-field" v-for="(genre, index) in allGenres">
								<input type="checkbox" :id="'genre-' + index" :value="genre" v-model="genreFilter">
								<label :for="'genre-' + index">{{ genre }}</label>
							</div>
						</div> <!-- /filter-option-menu -->
					</div> <!-- /filter-option -->

					<div class="filter-option" :class="{ active: activeFilter === 'rating', 'has-selections' : ratingFilter.length > 0 }">
						<span class="filter-option-title" tabindex="0" @click="selectFilter('rating')" v-on:keyup.enter="selectFilter('rating')">
							Rating
							<svg class="filter-arrow" width="10px" height="7px" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.47,6.24L0.22,1.99c-0.29-0.29-0.29-0.77,0-1.06l0.71-0.71c0.29-0.29,0.77-0.29,1.06,0L5,3.23l3.01-3.01 c0.29-0.29,0.77-0.29,1.06,0l0.71,0.71c0.29,0.29,0.29,0.77,0,1.06L5.53,6.24C5.24,6.53,4.77,6.53,4.47,6.24L4.47,6.24z">
							</svg>
						</span>
						<div class="filter-option-menu">
							<div class="filter-field" v-for="(rating, index) in allRatings">
								<input type="checkbox" :id="'rating-' + index" :value="rating" v-model="ratingFilter">
								<label :for="'rating-' + index">{{ rating }}</label>
							</div>
						</div> <!-- /filter-option-menu -->
					</div> <!-- /filter-option -->

					<div class="filter-option" :class="{ active: activeFilter === 'year', 'has-selections' : startYear || endYear }">
						<span class="filter-option-title" tabindex="0" @click="selectFilter('year')" v-on:keyup.enter="selectFilter('year')">
							Year
							<svg class="filter-arrow" width="10px" height="7px" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.47,6.24L0.22,1.99c-0.29-0.29-0.29-0.77,0-1.06l0.71-0.71c0.29-0.29,0.77-0.29,1.06,0L5,3.23l3.01-3.01 c0.29-0.29,0.77-0.29,1.06,0l0.71,0.71c0.29,0.29,0.29,0.77,0,1.06L5.53,6.24C5.24,6.53,4.77,6.53,4.47,6.24L4.47,6.24z">
							</svg>
						</span>
						<div class="filter-option-menu">
							<div class="filter-field">
								<input type="number" :min="minYear" :max="maxYear" :placeholder="minYear" v-model.lazy="startYear">
								to
								<input type="number" :min="minYear" :max="maxYear" :placeholder="maxYear" v-model.lazy="endYear">
							</div>
						</div> <!-- /filter-option-menu -->
					</div> <!-- /filter-option -->

					<div class="filter-option">
						<button class="filter-random-btn">I'm Feeling Lucky</button>
					</div> <!-- /filter-option -->

				</div> <!-- /filter-panel -->
			</div> <!-- /filters -->

			<div class="movies" :class="{ 'card-expanded': activeItem != null }">
				<div v-for="(movie, index) in movies" :key="index" :class="{ active: index === activeItem }" class="movie-card" tabindex="0" :title="movie.gsx$movietitle.$t" @click="selectItem(index)" v-on:keyup.enter="selectItem(index)">
					<img :src="movie.gsx$image.$t" :alt="movie.gsx$movietitle.$t" class="movie-card-img">
					<div class="movie-card-overlay">
						<div class="movie-card-content">
							<span class="movie-card-title">{{ movie.gsx$movietitle.$t }}</span>
							<span class="movie-card-rating" title="Rating">{{ movie.gsx$rating.$t }}</span>
							<span class="movie-card-year" title="Release Year">{{ movie.gsx$year.$t }}</span>
							<dl class="movie-card-watch">
								<dt v-if="movie.gsx$vudu.$t">Vudu</dt>
								<dd v-if="movie.gsx$vudu.$t === 'SD'">SD</dd>
								<dd v-else-if="movie.gsx$vudu.$t === 'HDX'">HD</dd>
								<dd v-else-if="movie.gsx$vudu.$t === 'UHD'">4K</dd>

								<dt v-if="movie.gsx$googleplay.$t">Google Play</dt>
								<dd v-if="movie.gsx$googleplay.$t === 'SD'">SD</dd>
								<dd v-else-if="movie.gsx$googleplay.$t === 'HDX'">HD</dd>
								<dd v-else-if="movie.gsx$googleplay.$t === 'UHD'">4K</dd>

								<dt v-if="movie.gsx$disc.$t">Disc</dt>
								<dd v-if="movie.gsx$disc.$t">{{ movie.gsx$disc.$t }}</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
	<script src="assets/main.js"></script>
</body>

</html>