.add-movie {
	padding: 5vw;
}

.add-form {
	align-items: flex-start;
	display: flex;
	gap: 5vw;
	flex-wrap: wrap;
}

.preview-img {
	display: block;
	margin-top: $size-base;
	width: 100px;

	&[src=''] {
		display: none;
	}
}



.add-form %field {
	margin-top: $size--3;
}

.add-form textarea {
	min-height: 12rem;
}

.add-form .select-group label {
	color: #fff;
	font-size: $fs-base;
}

.add-form .form-fields {
	max-width: 40rem;

	@include query($bp-lg) {
		flex: 1;
	}
}

.add-form .form-field-columns {
	display: flex;
	gap: $size-1;

	.form-field {
		flex: 1 1 0;
	}

	.form-field + .form-field {
		margin-top: 0;
	}
}

.add-form .form-btn {
	margin-top: $size-2;

	@include query($bp-lg) {
		flex-basis: 100%;
	}
}

.add-form .add-preview {
	margin: $size-3 0;
	
	@include query($bp-lg) {
		flex: 1;
		margin: 0;
		position: sticky;
		top: $size-1;
	}
}

.add-form .movie-btn {
	max-width: 225px;
	min-height: 200px;
}