.add-form {
	@include query(lg) {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
	}
}

.add-form label a {
	color: #fff;
	font-size: 0.875rem;
	margin-left: 0.5rem;

	&:hover,
	&:focus {
		color: $color-torch-red;
	}
}

.preview-img {
	display: block;
	margin-top: 1rem;
	width: 100px;

	&[src=''] {
		display: none;
	}
}

.add-form label {
	font-size: 1.25rem;
}

.add-form %field {
	margin-top: 0.5rem;
}

.add-form textarea {
	min-height: 12rem;
}

.add-form .select-group label {
	color: #fff;
	font-size: 1rem;
}

.add-form .form-fields {
	max-width: 30rem;

	@include query(lg) {
		flex: 1;
		margin-right: 6rem;
	}
}

.add-form .form-field-columns {
	display: flex;

	.form-field {
		flex: 1 1 0;
	}

	.form-field + .form-field {
		margin-top: 0;
		margin-left: 2rem;
	}
}

.add-form .form-btn {
	margin-top: 2rem;

	@include query(lg) {
		flex-basis: 100%;
	}
}

.add-form .add-preview {
	margin: 4rem 0;
	
	@include query(lg) {
		flex: 1;
		margin: 0;
		position: sticky;
		top: 1.5rem;
	}
}

.add-form .movie-card {
	max-width: 225px;
	min-height: 200px;
}