html {
	background: $color-dark;
	box-sizing: border-box;
	color: #fff;
	font-family: $primary-font-stack;
	font-size: $fs-base;
	font-weight: $primary-font-weight;
	line-height: 2;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:focus {
	outline: 0;
}

::selection {
	background-color: $color-accent;
	color: $color-dark;
}

::-moz-selection {
	background-color: $color-accent;
	color: $color-dark;
}

* {
	scrollbar-color: $color-accent;
	scrollbar-width: thin
}

::-webkit-scrollbar {
	background-color: $color-dark;
	width: 0.75rem;
}

::-webkit-scrollbar-thumb {
	background-color: $color-accent;
	border-radius: 1.5rem;
	border: 0.25rem solid $color-dark;

	&:hover {
		background-color: #fff;
	}
}

img {
	height: auto !important;
	max-width: 100%;
}

@mixin heading {
	font-family: $secondary-font-stack;
	font-weight: $secondary-font-weight-bold;
	letter-spacing: 0.1em;
	line-height: 1.1;
	margin: 0;
	text-transform: uppercase;
}

@mixin h1 {
	@include heading;
	font-size: $fs-4;
}

@mixin h2 {
	@include heading;
	font-size: $fs-3;
}

@mixin h3 {
	@include heading;
	font-size: $fs-2;
}

@mixin h4 {
	font-size: $fs-1;
}

h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

h4 {
	@include h4;
}

@mixin small-caps {
	@include heading;
	font-size: $fs--2;

	@include query($bp-md) {
		font-size: $fs--1;
	}
}

a {
	color: $color-accent;
	transition: 200ms all ease-out;

	@include query($bp-md) {
		&:hover,
		&:focus {
			color: $color-primary;
		}
	}
}

svg {
	fill: currentColor;
}

button,
.btn {
	align-items: center;
	background-color: $color-primary;
	border: none;
	border-radius: 10rem;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: $secondary-font-stack;
	font-size: $fs--1;
	font-weight: $secondary-font-weight-bold;
	letter-spacing: 0.1em;
	line-height: 1.25;
	justify-content: center;
	overflow: hidden;
	padding: 1em 2.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: 150ms all ease-out;
	-webkit-tap-highlight-color: rgba($color-dark, 0.4);
    
    &:hover {
        @include query($bp-md) {
            background: transparent;
            color: $color-primary;
        }
    }

	&:disabled {
		cursor: auto;
		opacity: 0.4;
		pointer-events: none;
		-webkit-tap-highlight-color: transparent;
	}
}

button svg,
.btn svg {
	flex: 0 0 auto;
}

.icon-btn {
	background: transparent;
	border: 0.125rem solid;
	color: $color-accent;
	height: 3rem;
	padding: 0;
	transition: none;
	width: 3rem;
	
	&.rotate {
		svg {
			animation-duration: 300ms;
			animation-name: rotateBtn;
			animation-timing-function: ease-in-out;
		}
	}

	&.shake {
		svg {
			animation-duration: 1000ms;
			animation-name: shakeBtn;
		}
	}

	&.has-selections {
		border-color: $color-primary;
		color: $color-primary;
	}
	
	&:hover {
		@include query($bp-md) {
			background: $color-accent;
			border-color: $color-accent;
			color: $color-dark;
		}
	}
}

@keyframes rotateBtn {
	from {
		transform: none;
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes shakeBtn {
    0% {
        transform: rotate(-15deg)
    }

    4% {
        transform: rotate(15deg)
    }

    8%,24% {
        transform: rotate(-18deg)
    }

    12%,28% {
        transform: rotate(18deg)
    }

    16% {
        transform: rotate(-22deg)
    }

    20% {
        transform: rotate(22deg)
    }

    32% {
        transform: rotate(-12deg)
    }

    36% {
        transform: rotate(12deg)
    }

    40%,to {
        transform: rotate(0deg)
    }
}

.icon-btn.active {
	background: $color-primary;
	border-color: $color-primary;
	color: $color-dark;
}

.icon-btn svg {
	margin-right: 0;
	transition: 150ms transform ease-out;
}

label {
	color: $color-accent;
	font-family: $secondary-font-stack;
	font-size: $fs-1;
	font-weight: $secondary-font-weight-bold;
	line-height: 1.25;
	-webkit-tap-highlight-color: rgba($color-accent, 0.1);
}

label a {
	color: #fff;
	font-family: $primary-font-stack;
	font-size: $fs--1;
	font-weight: $primary-font-weight;
	margin-left: $size--3;

	&:hover,
	&:focus {
		color: $color-primary;
	}
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='url'],
textarea,
select {
	background-color: $color-field-bg;
	color: #fff;
	border: none;
	border-radius: $border-radius;
	box-shadow: none;
	box-sizing: border-box;
	display: block;
	font-family: $primary-font-stack;
	font-weight: $primary-font-weight;
	font-size: $fs-base;
	line-height: 2;
	padding: 0.5em 1em;
	transition: 200ms all ease-out;
	width: 100%;

	&::-webkit-input-placeholder {
		color: $color-placeholder;
		font-weight: $primary-font-weight;
	}

	&:-moz-placeholder {
		color: $color-placeholder;
		font-weight: $primary-font-weight;
	}

	&::-moz-placeholder {
		color: $color-placeholder;
		font-weight: $primary-font-weight;
	}

	&:-ms-input-placeholder {
		color: $color-placeholder;
		font-weight: $primary-font-weight;
	}

	&::placeholder {
		color: $color-placeholder;
		font-weight: $primary-font-weight;
	}

	&:focus {
		background-color: rgba($color-accent, 0.2);
	}
}

textarea {
	resize: vertical;
}

select option {
	color: $color-dark;
	font-family: inherit;
	font-size: $fs-base;
	font-weight: $primary-font-weight;
	line-height: 1.35;
	padding: 0.25em 0;
}

select[multiple] option {
	color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

// input[type='checkbox'] + label:before,
// input[type='radio'] + label:before {
// 	box-shadow: inset 0 0 0 1px $color-accent;
// 	border-radius: $border-radius;
// 	content: '';
// 	display: block;
// 	flex: 0 0 1em;
// 	height: 1em;
// 	margin: 0.0625em 0.75em 0 0;
// 	transition: 200ms background ease-out, 200ms opacity ease-out;
// 	width: 1em;
// }

input[type='checkbox'] + label,
input[type='radio'] + label {
	border-radius: $border-radius;
	cursor: pointer;
	display: block;
	font-weight: $primary-font-weight;
	overflow: hidden;
	padding: $size--2 $size-base;
}

// input[type='radio'] + label:before {
// 	border-radius: 100%;
// }

input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
	background: rgba($color-accent, 0.2);
	color: $color-accent;
}

// input[type='checkbox'] + label:hover:before,
// input[type='radio'] + label:hover:before,
// input[type='checkbox']:focus + label:before,
// input[type='radio']:focus + label:before {
// 	box-shadow: inset 0 0 0 1px #fff;
// }

// input[type='checkbox']:checked + label:before,
// input[type='radio']:checked + label:before {
// 	background: green;
// 	box-shadow: none;
// 	opacity: 1;
// }

input[type='checkbox'],
input[type='radio'] {
	height: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 0;
}

.form-field + .form-field {
	margin-top: $size-2;
}

.select-group {
	list-style: none;
	margin: 0.5rem 0 0 0;
	padding: 0;
}

.select-group li {
	position: relative;
}

.select-group label {
	padding: 0.5rem 0;
}

.error-msg {
	align-items: flex-start;
	color: $color-primary;
	display: flex;
	font-weight: $secondary-font-weight-bold;
	
	.error-icon {
		fill: currentColor;
		flex: 0 0 auto;
		height: 1.25em;
		margin-right: 0.5em;
		width: 1.25em;
	}
}

.success-msg {
	align-items: flex-start;
	color: $color-accent;
	display: flex;
	font-weight: $secondary-font-weight-bold;

	.success-icon {
		fill: currentColor;
		flex: 0 0 auto;
		height: 1.25em;
		margin-right: 0.5em;
		width: 1.25em;
	}
}

[v-cloak] {
	display: none;
}