.header {
	background: $color-dark;
	box-shadow: 0 1rem 6rem $color-dark, 0 1rem 3rem $color-dark;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.75rem 5vw;
	position: sticky;
	top: 0;
	z-index: 50;

	@include query($bp-md) {
		padding-bottom: 1rem;
		padding-top: max(0.75rem, 5vmin);
	}
}

.header.active {
	height: 100vh;
}

.movie-count {
	@include h4;

	@include query($bp-xs) {
		@include h2;
	}
}

.movie-count-num {
	@include h3;
	color: $color-primary;

	@include query($bp-xs) {
		@include h1;
	}
}

.filter-btn {
	@include query($bp-xs) {
		margin-left: auto;
	}

    @include query($bp-lg) {
        display: none;
    }

	&.active {
		color: $color-dark;
	}
}


.filters {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	justify-content: space-between;
	position: relative;

	&.active {
		z-index: 500;
	}

    @include query($bp-lg) {
        display: block;

		&.active {
			z-index: 300;
		}
    }
}

.filter-panel {
	background: $color-dark;
	border-radius: $border-radius;
	display: none;
	flex: 1;
	margin-top: 0.75rem;
	overflow: auto;
	padding: 1.5rem;
	position: relative;
	transform: translateY(100vh);
	transition: transform 300ms ease-out;

    @include query($bp-lg) {
        align-items: center;
		background: transparent;
		display: flex;
		flex: 1;
		justify-content: space-between;
		margin-top: 1rem;
		max-width: none;
		overflow: visible;
		padding: 0;
		position: static;
		transform: none;
		width: auto;
    }
}

.filter-panel.active {
	box-shadow: $shadow-lg;
	display: block;
	overscroll-behavior: contain;
    transform: none;

    @include query($bp-lg) {
        box-shadow: none;
    }
}

.filter-option {
	position: relative;
    text-align: center;
}

.filter-option:last-child,
.filter-option:nth-last-child(2) {
	border-bottom: none;
}

.filter-option-title {
	background: transparent;
	align-items: center;
	color: #fff;
	display: flex;
	gap: 0.75rem;
	justify-content: flex-start;
	padding: 1rem 0;
	position: relative;
	transition: 200ms all ease-out;
	width: 100%;
    z-index: 300;

    @include query($bp-lg) {
        border: none;
		border-radius: $border-radius;
		color: #fff;
		display: inline-flex;
		justify-content: center;
        padding: 0.625em 1.5em;
		width: auto;

        &:hover,
        &:focus {
			color: #fff;
            box-shadow: inset 0 0 0 1px $color-accent;
        }
    }
}

.filter-option.active {
	.filter-option-title {
		color: $color-accent;
	}

	.filter-arrow {
		color: currentColor;
		transform: rotate(180deg);
	}

	.filter-option-menu {
		display: block;
		z-index: 200;
	}
}

.filter-option.has-selections {
	.filter-option-title,
	.filter-arrow {
		color: $color-primary;
	}
}



.filter-arrow {
	color: $color-accent;
	margin-top: -0.25rem;
	transition: 200ms all ease-out;
}

.filter-option-menu {
	display: none;
	padding: 0 0.75rem;
    text-align: left;

    @include query($bp-lg) {
        background: #fff;
		border-radius: $border-radius;
		box-shadow: 0 0 6rem $color-dark, 0 0 3rem $color-dark;
		left: 50%;
		max-height: calc(95vh - 8rem);
		margin: 0.25rem 0 0 -8rem;
		overflow: auto;
		padding: 1.5rem;
		position: absolute;
		text-align: left;
		top: 100%;
		width: 16rem;
    }
}

.filter-option-cat {
	@include small-caps;
	color: rgba(#fff, 0.5);
	display: block;
	font-size: $fs--3;
	margin: 0.5rem 1rem;
}

.filter-field + .filter-option-cat {
	margin-top: 1.5rem;
}

.filter-field + .filter-field {
	margin-top: 0.25rem;
}

.filter-field label {
	color: #fff;
	cursor: pointer;
	display: flex;
	font-size: $fs--1;
	position: relative;
}

// .filter-field input[type='checkbox'] + label:hover:before,
// .filter-field input[type='radio'] + label:hover:before,
// .filter-field input[type='checkbox']:focus + label:before,
// .filter-field input[type='radio']:focus + label:before {
// 	opacity: 1;
// }

// .filter-field input[type='checkbox'] + label:before,
// .filter-field input[type='radio'] + label:before {
// 	box-shadow: inset 0 0 0 1px $color-dark;
// 	opacity: 0.35;
// }

// .filter-field input[type='checkbox']:focus + label:before,
// .filter-field input[type='radio']:focus + label:before {
// 	opacity: 1;
// }

// .filter-field input[type='checkbox']:checked + label:before,
// .filter-field input[type='radio']:checked + label:before {
// 	box-shadow: none;
// 	opacity: 1;
// }

.filter-random-btn {
	margin-top: 0.5rem;
    width: 100%;

    @include query($bp-lg) {
        margin-top: 0;
		width: auto;
    }
}

.year-range {
	align-items: center;
	display: flex;
	font-family: $secondary-font-stack;
	font-size: $fs--1;
	font-weight: $secondary-font-weight-bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;

    @include query($bp-lg) {
        justify-content: center;
    }
}

.year-range input {
	-moz-appearance: textfield;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 5rem;
 	text-align: center;
}

.year-range input::-webkit-outer-spin-button,
.year-range input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.year-range input:first-child {
	margin-right: 0.5rem;
}

.year-range input:last-child {
	margin-left: 0.5rem;
}

.reset-btn {
	background: $color-accent;
	color: $color-dark;
    width: 100%;

    @include query($bp-lg) {
        width: auto;

        &:hover,
        &:focus {
            background: transparent;
            color: $color-accent;
            box-shadow: inset 0 0 0 1px $color-accent;
        }
    }
}

.search {
	flex: 100%;
	position: relative;

	@include query($bp-xs) {
		flex: 1;
		max-width: 20rem;
	}
}

.search-icon {
	color: $color-accent;
	left: 1em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

.search input {
	padding-left: 2.75em;
	position: relative;
    z-index: 20;
}