.filter-btn {
    @include query(lg) {
        display: none;
    }
}

.filter-close-btn {
	align-items: center;
	background: #fff;
	border-radius: 0;
	color: rgba($color-cinder, 0.3);
	display: inline-flex;
	font-size: 1.75rem;
	font-weight: $font-weight-regular;
	height: 2.5rem;
	justify-content: center;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 2.5rem;

    &:hover,
    &:focus {
        box-shadow: none;
    }

    @include query(lg) {
        display: none;
    }
}

.filters {
	align-items: center;
	background: $color-cinder;
	box-shadow: 0 1rem 6rem $color-cinder, 0 1rem 3rem $color-cinder;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -1.25rem 3rem -1.25rem;
	padding: 0.5rem 1.25rem;
	position: sticky;
	top: 0;
	z-index: 300;

	&.active {
		z-index: 500;
	}

	@include query(sm) {
		margin: 0 -3rem 3rem -3rem;
		padding: 0.5rem 3rem;
	}

    @include query(lg) {
        display: block;
		margin: 0 -5rem 5rem -5rem;
		padding: 1rem 5rem;

		&.active {
			z-index: 300;
		}
    }
}

.filter-panel {
	background: #fff;
	height: 100%;
	max-width: 18rem;
	overflow: auto;
	padding: 2.5rem 1.5rem 1.5rem 1.5rem;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: transform 300ms ease-out;
    width: 90%;

    @include query(lg) {
        align-items: center;
		background: transparent;
		display: flex;
		flex: 1;
		justify-content: space-between;
		margin-top: 1rem;
		max-width: none;
		overflow: visible;
		padding: 0;
		position: static;
		transform: none;
		width: auto;
    }
}

.filter-panel::-webkit-scrollbar {
	background-color: #fff;
}

.filter-panel::-webkit-scrollbar-thumb {
	border: 0.25rem solid #fff;

	&:hover {
		background-color: $color-cinder;
	}
}

.filter-panel.active {
	box-shadow: 0 0 6rem $color-cinder, 0 0 3rem $color-cinder;
    transform: none;

    @include query(lg) {
        box-shadow: none;
    }
}

.filter-option {
	border-bottom: 1px solid rgba($color-cinder, 0.1);
	padding: 0.5rem 0;
	position: relative;
    text-align: center;

    @include query(lg) {
        border-bottom: none;
		margin: 0;
		padding: 0;
    }
}

.filter-option.active {

	.filter-arrow {
		transform: rotate(180deg);
	}

	.filter-option-menu {
		display: block;
		z-index: 200;
	}
}

.filter-actions {
	border-bottom: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include query(md) {
        flex-direction: row;
        gap: 0.75rem;
    }
}

.filter-option-title {
	background: transparent;
	align-items: center;
	color: $color-cinder;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;
	position: relative;
	transition: 200ms all ease-out;
	width: 100%;
    z-index: 300;
    
    @include query(md) {
        &:hover,
        &:focus {
            background: transparent;
            box-shadow: none;
            color: $color-cinder;
        }
    }

    @include query(lg) {
        border: none;
		color: #fff;
		display: inline-flex;
		justify-content: center;
        padding: 0.625em 1.5em;
		width: auto;

        &:hover,
        &:focus {
			color: #fff;
            box-shadow: inset 0 0 0 1px $color-turquoise;
        }
    }
}

.filter-option.has-selections .filter-option-title {
    color: $color-torch-red;

    @include query(lg) {
        color: $color-turquoise;
    }
}

.filter-arrow {
	fill: $color-torch-red;
	margin: 0 0 0 0.5rem;
	transition: 200ms all ease-out;
}

.filter-option-menu {
	color: $color-cinder;
	display: none;
    text-align: left;

    @include query(lg) {
        background: #fff;
		border-radius: 0.375rem;
		box-shadow: 0 0 6rem $color-cinder, 0 0 3rem $color-cinder;
		left: 50%;
		max-height: calc(95vh - 8rem);
		margin: 0.25rem 0 0 -8rem;
		overflow: auto;
		padding: 1.5rem;
		position: absolute;
		text-align: left;
		top: 100%;
		width: 16rem;
    }
}

.filter-option-cat {
	font-size: 0.875rem;
	font-weight: $font-weight-bold;
	display: block;
	margin-bottom: 0.25rem;
}

.filter-field + .filter-option-cat {
	margin-top: 1rem;
}

.filter-field label {
	color: $color-cinder;
	cursor: pointer;
	display: flex;
	font-size: 0.875rem;
	padding: 0.375em 0;
	position: relative;
}

.filter-field input[type='checkbox'] + label:hover:before,
.filter-field input[type='radio'] + label:hover:before,
.filter-field input[type='checkbox']:focus + label:before,
.filter-field input[type='radio']:focus + label:before {
	opacity: 1;
}

.filter-field input[type='checkbox'] + label:before,
.filter-field input[type='radio'] + label:before {
	box-shadow: inset 0 0 0 1px $color-cinder;
	opacity: 0.35;
}

.filter-field input[type='checkbox']:focus + label:before,
.filter-field input[type='radio']:focus + label:before {
	opacity: 1;
}

.filter-field input[type='checkbox']:checked + label:before,
.filter-field input[type='radio']:checked + label:before {
	box-shadow: none;
	opacity: 1;
}

.filter-random-btn {
	margin-top: 0.5rem;
    width: 100%;

    @include query(lg) {
        margin-top: 0;
		width: auto;
    }
}

.year-range {
	align-items: center;
	display: flex;
    font-weight: $font-weight-bold;

    @include query(lg) {
        justify-content: center;
    }
}

.year-range input {
	@include field-color-light;
	-moz-appearance: textfield;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 5rem;
 	text-align: center;
}

.year-range input::-webkit-outer-spin-button,
.year-range input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.year-range input:first-child {
	margin-right: 0.5rem;
}

.year-range input:last-child {
	margin-left: 0.5rem;
}

.reset-btn {
	background: $color-turquoise;
	color: $color-cinder;
    width: 100%;

    @include query(lg) {
        width: auto;

        &:hover,
        &:focus {
            background: transparent;
            color: $color-turquoise;
            box-shadow: inset 0 0 0 1px $color-turquoise;
        }
    }
}

.search {
	border-bottom: none;
	position: relative;
}

.search-icon {
	fill: $color-torch-red;
	left: 1em;
	margin-top: -7px;
	position: absolute;
	top: 50%;
	z-index: 10;
}

.search input {
	@include field-color-light;
	padding-left: 2.5em;
	position: relative;
    z-index: 20;

    @include query(lg) {
		@include field-color-dark;
		max-width: 16rem;
	}
}

.movie-count h2 {
	font-weight: $font-weight-regular;
	margin: 0;
}

.movie-count h2 span {
	color: $color-turquoise;
	font-weight: $font-weight-bold;
}