.loader {
    animation: loader-outer 1s linear infinite;
    border: 0.1875em solid;
    border-color: $color-turquoise $color-turquoise transparent;
    border-radius: 100%;
    display: block;
    height: 3em;
    position: relative;
    width: 3em;
}

.loader:after {
    animation: loader-inner 0.5s linear infinite;
    border: 0.1875em solid;
    border-color: transparent $color-torch-red $color-torch-red;
    border-radius: 100%;
    bottom: 0;
    content: '';
    height: 1.5em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center center;
    width: 1.5em;
}

#movies > .loader {
    left: calc(50% - 1.5em);
    position: absolute;
    top: calc(50% - 1.5em);
    transform: translate(-50%, -50%);
}

@keyframes loader-outer {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}