.movies {
	padding: 5vw;
}

.movie-list {
	display: grid;
	flex: 1;
	gap: 1.5rem 0.5rem;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	
	@include query($bp-sm) {
		grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	}

	@include query($bp-lg) {
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	}
}


// grid display

.movie-btn {
	aspect-ratio: 2/3;
	background: mix($color-accent, $color-dark, 4%);
	border-radius: $border-radius;
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: 0;
	position: relative;
	-webkit-tap-highlight-color: rgba($color-dark, 0.2);

	@include query($bp-md) {
		transition: all 250ms ease-out;
		z-index: 0;

		&:hover {
			background: $color-dark;
			box-shadow: $shadow-lg;
			transform: scale(1.25);
			z-index: 20;
		}
	}

	@include query($bp-lg) {
		&:hover {
			transform: scale(1.5);
		}
	}

	&:focus {
		outline: 2px solid #fff;
	}
}

.movie-btn-img {
	display: block;
	z-index: 10;
	transition: 500ms opacity ease-out;
	width: 100%;
	position: relative;
}

.movie-btn-title-preload {
	align-items: center;
	color: rgba(#fff, 0.35);
	display: flex;
	// font-weight: $font-weight-bold;
	height: 100%;
	justify-content: center;
	left: 0;
	padding: 1rem;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;

	@include query($bp-sm) {
		padding: 1.25rem;
	}

	@include query($bp-lg) {
		padding: 1.5rem;
	}
}