// color
$color-cinder: #0d0e16;
$color-torch-red: #f71735;
$color-tree-poppy: #ff9f1c;
$color-turquoise: #41ead4;
$color-nevada: #69747c;

$gradient: linear-gradient(45deg, $color-torch-red, $color-tree-poppy);

$color-placeholder-dark: rgba(#fff, 0.65);
$color-placeholder-light: rgba($color-cinder, 0.5);

$color-field-bg-dark: rgba(#fff, 0.14);
$color-field-bg-light: rgba($color-cinder, 0.06);

// type
$font-weight-regular: 400;
$font-weight-bold: 900;
$font-stack: 'Roboto', sans-serif;

// breakpoints
$breakpoints: (
	sm: "screen and (min-width: 42rem)",
	md: "screen and (min-width: 54rem)",
	lg: "screen and (min-width: 84rem)"
);