@use 'sass:math';

@mixin query($breakpoint) {
	@media screen and (min-width: #{$breakpoint}) {
		@content;
	}
}

@function rnd($number, $places: 0) {
	$n: 1;

	@if $places >0 {
		@for $i from 1 through $places {
			$n: $n * 10;
		}
	}

	@return math.div(math.round($number * $n), $n);
}

@function fluid($min-value, $max-value, $min-bp: $bp-sm, $max-bp: $bp-xl) {
	$factor: 1 / ($max-bp - $min-bp) * ($max-value - $min-value);
	$calc-value: unquote('#{ $min-value - ($min-bp * $factor) } + #{ 100vw * $factor }');

	@return clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}
