html {
	background: #161b1d;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.35;
	overflow-x: hidden;
}

body {
	margin: 0.5rem;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:focus {
	outline: 1px dotted #f71735;
}

h1 {
	color: #f71735;
	font-size: calc(32px + (80 - 32) * ((100vw - 320px) / (1900 - 320)));
}

h2 {
	font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1900 - 320)));
}

button {
	background-color: #fff;
	border: none;
	border-radius: 3px;
	color: #161b1d;
	cursor: pointer;
	font-weight: 700;
	line-height: 1.35;
	padding: 0.75em 1.75em;
	text-align: center;
	text-decoration: none;
	transition: 200ms all ease-out;
}

button:hover,
button:focus {
	background-color: #fff;
}

.filter-close-btn {
	font-size: 1.5rem;
	height: 2rem;
	line-height: 2rem;
	padding: 0;
	width: 2rem;
}

.filters {
	align-items: center;
	background: #161b1d;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.5rem 0;
	position: sticky;
	top: 0;
	z-index: 100;
}

.filter-panel {
	background: #333;
	height: 100%;
	max-width: 18rem;
	padding: 1.5rem;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: all 300ms ease-out;
	width: 90%;
}

.filter-panel.active {
	box-shadow: 0 0 6rem #161b1d, 0 0 3rem #161b1d;
	transform: none;
}

.filter-field {
	margin: 0.5rem;
}

.movie-count {
	margin: 0.5rem;
}

.movie-count h2 {
	font-weight: 400;
	margin: 0;
}

.movie-count h2 span {
	font-weight: 700;
	color: #41ead4;
}

.movies {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, 168px);
	justify-content: center;
	margin-top: 3rem;
}

.movie-card {
	background: #161b1d;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	transition: all 250ms ease-out;
	width: 168px;
	will-change: transform;
}

.movie-card:hover,
.movie-card:focus {
	z-index: 10;
}

.movie-card.active {
	box-shadow: 0 0 6rem #161b1d, 0 0 3rem #161b1d;
	outline: 0;
	transform: scale(1.25);
	z-index: 20;
}

.movies.card-expanded .movie-card {
	opacity: 0.3;
}

.movies.card-expanded .movie-card.active {
	opacity: 1;
}

.movie-card-overlay {
	background: rgba(22, 27, 29, 0.65);
	bottom: 0;
	left: 0;
	opacity: 0;
	padding: 1rem;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 250ms ease-out;
	transition-delay: 100ms;
	will-change: opacity;
}

.movie-card.active .movie-card-overlay {
	opacity: 1;
}

.movie-card-img {
	display: block;
	width: 100%;
}

.movie-card.active .movie-card-img {
	filter: blur(4px);
	transform: scale(1.05);
}

.movie-card-title {
	display: block;
	font-weight: 700;
}

.movie-card-watch {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	display: flex;
	font-size: 0.75rem;
	flex-wrap: wrap;
	margin: 1em 0 0 0;
}

.movie-card-watch dt,
.movie-card-watch dd {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	flex: 1 1 50%;
	margin: 0;
	padding: 0.5em 0;
}

.movie-card-watch dt {
	font-weight: 700;
}

.movie-card-watch dd {
	text-align: right;
}

.movie-card-rating {
	background-color: #fff;
	color: #161b1d;
	display: inline-block;
	font-size: 0.625rem;
	font-weight: 700;
	margin-right: 0.375em;
	padding: 0.25em 0.5em;
	vertical-align: middle;
}

.movie-card-year {
	display: inline-block;
	font-size: 0.625rem;
	font-weight: 700;
	vertical-align: middle;
}

.movie-card-content {
	color: #fff;
	opacity: 0;
	transition: 300ms all ease-out;
	transition-delay: 150ms;
	transform: translateY(0.5rem);
	will-change: opacity, transform;
}

.movie-card.active .movie-card-content {
	opacity: 1;
	transform: none;
}

.loader {
	animation: loader 1s infinite linear;
	border: 0.25em solid #df2935;
	border-radius: 50%;
	border-top-color: transparent;
	display: block;
	height: 3em;
	margin: 0 auto;
	transform: translateZ(0);
	width: 3em;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 42rem) {
	body {
		margin: 3rem;
	}

	.filter-btn,
	.filter-close-btn {
		display: none;
	}

	.filters {
		box-shadow: 0 0 6rem #161b1d, 0 0 3rem #161b1d;
		justify-content: flex-start;
	}

	.filter-panel {
		align-items: center;
		background: transparent;
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		justify-content: space-between;
		max-width: none;
		padding: 0.5rem 0;
		position: static;
		transform: none;
		width: auto;
	}

	.movies {
		margin-top: 4rem;
	}

	.movie-card:hover,
	.card-expanded .movie-card:hover {
		box-shadow: 0 0 6rem #161b1d, 0 0 3rem #161b1d;
		opacity: 1;
		transform: scale(1.15);
		z-index: 10;
	}
	
	.movie-card:hover {
		z-index: 20;
	}

	.card-expanded .movie-card.active {
		transform: scale(1.5);
		z-index: 30;
	}

	.movie-card-rating,
	.movie-card-year {
		font-size: 0.5rem;
	}

	.movie-card-watch {
		font-size: 0.625rem;
	}

	.movie-card-watch dt,
	.movie-card-watch dd {
		padding: 0.75em 0;
	}
}